<%# locals: (track: nil) -%>
<% if track %>
  <%= turbo_mount("Player", props: {track: {title: track.title, artist: track.artist.name, artwork: track.album.cover_url, url: track.url, artist_url: artist_path(track.artist)}}, class: "sticky bottom-0 h-[80px]", data: {"turbo-stream-transition" => "player"}) %>
<% else %>
  <div class="sticky bottom-0 h-[80px]" data-turbo-stream-transition="player"></div>
<% end %>
